
<h2 class="align-center">
    Books page
</h2>
<div class="row">
    {{#link-to "main.add-book" classNames="button"}}Add Book{{/link-to}}
    <div class="inline-block pull-right">
        {{input classNames="input" value=currentFilterInput}}
        <button class="button" {{action "filterTable"}}>Search</button>
    </div>
</div>
<div class="row">
    <table class="table bordered">
        <thead>
        <tr>
            <th>
                <span class="sort" {{action "sortBy" "title"}}>
                     Title
                    <span class="sort-icons">
                        {{fa-icon "sort-up" class=sortState.title.up}}
                        {{fa-icon "sort-down" class=sortState.title.down}}
                    </span>
                </span>
            </th>
            <th>
                Author
            </th>
            <th>
                <span class="sort" {{action "sortBy" "year"}}>
                     Year
                    <span class="sort-icons">
                        {{fa-icon "sort-up" class=sortState.year.up}}
                        {{fa-icon "sort-down" class=sortState.year.down}}
                    </span>
                </span>
            </th>
            <th>
                <span class="sort" {{action "sortBy" "rating"}}>
                     Rating
                    <span class="sort-icons">
                        {{fa-icon "sort-up" class=sortState.rating.up}}
                        {{fa-icon "sort-down" class=sortState.rating.down}}
                    </span>
                </span>
            </th>
            <th>
                Read
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each this.content as |book|}}
            <tr>
                <td>
                    {{#link-to "main.books.book" book}}{{book.name}}{{/link-to}}
                </td>
                <td>
                    {{#each book.authors as |author|}}
                        {{#link-to "main.author" author}}{{author.firstName}} {{author.lastName}}{{/link-to}}
                    {{/each}}
                </td>
                <td class="align-center">
                    {{book.year}}
                </td>
                <td class="align-center">
                    {{book.rating}}
                </td>
                <td class="align-center">
                    {{input type="checkbox" name="read" checked=book.read}}
                </td>
                <td class="align-center">
                    <button {{action "deleteBook" book}}>Delete</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
